$font-family-sans-serif:  'Open Sans', sans-serif !default;
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

$color-dark-blue: #0C2E4D;
$color-light-blue: #36A2B9;
$color-accent-blue: #1DACA4;
$color-yellow: #FFC831;