@import './variables';

@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

.cost-item-full {
  cursor:pointer;
  padding-left: 40px;
  padding-top: 10px;
}

.make-folder-icon {
  display: none;
}

.cost-item-row {
  border-radius: 4px;

  &:hover {
    background-color:gainsboro;

    .make-folder-icon {
      display: inline;
    }
  }

  &:focus {
    //background-color:lightgoldenrodyellow;
  }
}

.collapse-icons-spacer {
  padding-left: 8px;
  float: left;
  min-width: 30px;
}

.cost-range-spacer {
  float: left;
  min-width: 100px;
}

.sum-costs {
  font-weight: bold;
}









.table.no-header-bottom-border thead th {
  border-bottom: none
}
.table.no-header-bottom-border  {
  border-bottom: none
}

.select-row tbody tr {
  cursor:pointer;
}

html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.indent {
  padding-left:30px;
}

hr.grey-line {
  border-top: 1px solid #ddd;
}
hr.review-separator {
  border-top: 3px solid #777;
}

.action-column {
  max-width: 20px;
}

.no-validation-icons .form-control.is-valid, .no-validation-icons .form-control.is-invalid {
  background:none;
  padding-right: inherit;
 }
